<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>EpocketCash</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>38</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Please provide access to multimedia for uploading photos to your profile</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Please provide access to the bluetooth for calculating the program optimal performance parameters</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Please provide access to the calendar for calculating the program optimal performance parameters</string>
	<key>NSCameraUsageDescription</key>
	<string>Please provide access to camera to make your photo and add it to your profile</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Please provide access to geolocation so that the application can pick up the optimal performance parameters in accordance with your location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Please provide access to geolocation so that the application can pick up the optimal performance parameters in accordance with your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please provide access to geolocation so that the application can pick up the optimal performance parameters in accordance with your location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Please provide access to the microphone for calculating the program optimal performance parameters</string>
	<key>NSMotionUsageDescription</key>
	<string>Please provide access to the  motion for calculating the program optimal performance parameters</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please provide access to photo for uploading photos to your profile</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please provide access to photo for uploading photos to your profile</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Please provide access to the speech for calculating the program optimal performance parameters</string>
	<key>UIAppFonts</key>
	<array>
		<string>Rubik-Black.ttf</string>
		<string>Rubik-BlackItalic.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-BoldItalic.ttf</string>
		<string>Rubik-Italic.ttf</string>
		<string>Rubik-Light.ttf</string>
		<string>Rubik-LightItalic.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-MediumItalic.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>rubicon-icon-font.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Feather.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
